services:
  caddy:
    build:
      context: caddy
      dockerfile: Dockerfile
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy-data:/data
      - caddy-config:/config
    networks:
      - omeka-s-network
    ports:
      - "80:80"
      - "443:443"
    depends-on:
      - omeka-s-app
    environment:
      OMEKA_DOMAIN_NAME: $OMEKA_DOMAIN_NAME
      OMEKA_TLS_EMAIL: $OMEKA_TLS_EMAIL
      OMEKA_SERVER: omeka-s-app

omeka-s-db:
    image: mariadb:12.2.1-noble-rc
    volumes:
      - omeka-s-db:/var/lib/mysql
    environment:
      MARIADB_DATABASE_FILE: /run/secrets/db_database
      MARIADB_USER_FILE: /run/secrets/db_user
      MARIADB_PASSWORD_FILE: /run/secrets/db_password
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
    secrets:
      - db_database
      - db_user
      - db_password
      - db_root_password
    networks:
      - omeka-s-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      retries: 10

  omeka-s-app:
    build:
      context: omeka-s
      dockerfile: Dockerfile
    ports:
      - ${OMEKA_PORT}:80
    environment:
      OMEKA_ADMIN_EMAIL_FILE: /run/secrets/omeka_admin_email
      OMEKA_ADMIN_PASSWORD_FILE: /run/secrets/omeka_admin_password
      OMEKA_ADMIN_USER_FILE: /run/secrets/omeka_admin_user
      MARIADB_DATABASE_FILE: /run/secrets/db_database
      MARIADB_USER_FILE: /run/secrets/db_user
      MARIADB_PASSWORD_FILE: /run/secrets/db_password
      MARIADB_HOST: omeka-s-db
      MARIADB_PORT: 3306
    secrets:
      - db_database
      - db_user
      - db_password
      - omeka_admin_user
      - omeka_admin_email
      - omeka_admin_password
    networks:
      - omeka-s-network
    volumes:
      - omeka-s-app:/var/www/html
    restart: unless-stopped
    depends_on:
      omeka-s-db:
        condition: service_healthy

secrets:
    db_database:
        environment: DB_DATABASE
    db_user:
        environment: DB_USER
    db_password:
        environment: DB_PASSWORD
    db_root_password:
        environment: DB_ROOT_PASSWORD
    omeka_admin_user:
        environment: OMEKA_ADMIN_USER
    omeka_admin_email:
        environment: OMEKA_ADMIN_EMAIL
    omeka_admin_password:
        environment: OMEKA_ADMIN_PASSWORD

volumes:
  omeka-s-db:
  omeka-s-app:
  caddy-data:
  caddy-config:

networks:
  omeka-s-network:
    driver: bridge
    name: "${COMPOSE_PROJECT_NAME}-omeka-s-network"
