services:
  omeka-s-db:
    image: mariadb:latest
    volumes:
      - omeka-s-db:/var/lib/mysql
    environment:
      MARIADB_DATABASE: $DB_NAME
      MARIADB_USER: $DB_USERNAME
      MARIADB_PASSWORD: $DB_PASSWORD
      MARIADB_ROOT_PASSWORD: $DB_ROOT_PASSWORD
    networks:
      - omeka-s-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      retries: 10

  omeka-s-app:
    build:
      context: omeka-s
      dockerfile: Dockerfile
    ports:
      - "${OMEKA_S_PORT}:80"
    environment:
      DB_NAME: $DB_NAME
      DB_USER: $DB_USERNAME
      DB_PASSWORD: $DB_PASSWORD
      DB_HOST: omeka-s-db
      DB_PORT: 3306
    networks:
      - omeka-s-network
    restart: unless-stopped
    depends_on:
      omeka-s-db:
        condition: service_healthy

volumes:
  omeka-s-db:

networks:
  omeka-s-network:
    driver: bridge
    name: "${COMPOSE_PROJECT_NAME}-omeka-s-network"
