services:
  omeka-s-db:
    image: mariadb:latest
    volumes:
      - omeka-s-db:/var/lib/mysql
    environment:
      MARIADB_DATABASE: omekas
      MARIADB_USER: omekas
      MARIADB_PASSWORD_FILE: /run/secrets/db_password
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
    secrets:
      - db_root_password
      - db_password
    networks:
      - omeka-s-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      retries: 10

  omeka-s-app:
    build:
      context: omeka-s
      dockerfile: Dockerfile
    ports:
      - "${OMEKA_S_PORT}:80"
    environment:
      OMEKA_ADMIN_EMAIL: mike@mikelynch.org
      OMEKA_ADMIN_PASSWORD_FILE: /run/secrets/omeka_admin_password
      OMEKA_ADMIN_USER: mike
      MARIADB_DATABASE: omekas
      MARIADB_USER: omekas
      MARIADB_PASSWORD_FILE: /run/secrets/db_password
      MARIADB_HOST: omeka-s-db
      MARIADB_PORT: 3306
    secrets:
      - omeka_admin_password
      - db_password
    networks:
      - omeka-s-network
    restart: unless-stopped
    depends_on:
      omeka-s-db:
        condition: service_healthy

secrets:
    db_password:
        file: db_password.txt
    db_root_password:
        file: db_root_password.txt
    omeka_admin_password:
        file: omeka_admin_password.txt

volumes:
  omeka-s-db:

networks:
  omeka-s-network:
    driver: bridge
    name: "${COMPOSE_PROJECT_NAME}-omeka-s-network"
